
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.nemo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nemo ul{
     display: flex;
     gap: 40px;
}
#hero{
    
}